
dist/*
target/
lib/
bin/
project/boot/
project/project/
project/plugins/project/

.history
.cache
.lib/
.project
.settings/

*#
*~
.c*

nostalgia/src/main/scala/Main.scala
*.jar
*.nlogo
!example/scala/netlogo/**/*.nlogo
